/* .container{
    display: inline-block;
    cursor: pointer;
}

.bar1, .bar2, .bar3{
    width: 35px;
    height: 5px;
    background: #333;
    margin: 6px 0px;
    transition: 0.4s;
}

.change .bar1{
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);

}

.change .bar2{
   opacity:0;

}

.change .bar3{
    -webkit-transform: rotate(45deg) translate(-8px,-8px);
    transform: rotate(45deg) translate(-8px, -8px);

} */

/*888888888888888888888888888888888888888888888888888888888888*/
.navBarC{
    width: 89.9%;
    height: 60%;
    padding: 5%;
    border: solid 2px blue;
    display: flex;
    align-items: center;
}

 .navBarC .navLinks{
        border: solid 2px red;
        padding:3%;
        display: flex;
        justify-content: space-around;
        width: 30%;
        margin-right: 8%;
    }

h1{
    font-size: 3em;
    border: solid 2px green;
}



body {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    padding: 0;
    margin: 0;
  }
  
  .spacer {
    background: #373B44;  
    background: -webkit-linear-gradient(to right, #4286f4, #373B44);  
    background: linear-gradient(to right, #4286f4, #373B44); 
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 2em;
  }

  .spacer2{
    background: #0F2027;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 2em;
  }
  
  
  .wrapper {
    width: 300px;
    height: 300px;
    position: relative;
    margin: 60px auto;
 
  }

  .wrapperCON{
      display: flex;
  }
  
  .parent,
  .child {
    position: absolute;
    border-radius: 8px;
   

  }
  
  .parent {
    width: 100%;
    height: 100%;
    background: black;
  }
  
  .child {
    width: 200px;
    height: 100px;
    background: #42a6e0;
    right: -50px;
    bottom: -20px;
  }
  